.prompt-header {
  position: absolute;
  top: 5%;
  left: 43.5%;
  font-weight: 400;
  font-size: 20px;
}

.background {
  background-color: #ffc0c0;
}

.background-image1 {
  position: absolute;
  width: 136.36px;
  height: 13;
  top: 7.5%;
  left: 35%;
  transform: rotate(23.72deg);
}

.background-image2 {
  position: absolute;
  width: 141.23px;
  height: 30px;
  top: 25%;
  left: 52%;
  transform: rotate(180 deg);
}

.background-body {
  position: absolute;
  width: 600px;
  height: 596px;
  left: 29%;
  top: 216px;
  background: #fff6e6;
  border-radius: 50px 50px 0px 0px;
}

.logo-image {
  top: 13%;
  left: 43.5%;
  position: absolute;
  z-index: 3;
}

.coin-image1 {
  position: absolute;
  width: 59.56px;
  height: 50px;
  top: 30%;
  left: 40%;
  z-index: 3;
}

.coin-image2 {
  position: absolute;
  width: 34.2px;
  height: 30px;
  top: 16.5%;
  left: 55%;
  z-index: 3;
}

.coin-image3 {
  position: absolute;
  width: 12.97px;
  height: 15px;
  top: 34%;
  left: 57%;
  z-index: 3;
}

.prompt-content-header {
  font-weight: 400;
  font-size: 20px;
}

.prompt-content-body {
  font-weight: 200;
  font-size: 16px;
}

.successful-icon {
  margin: 10% 36.75% 5% 36.75%;
  width: 164px;
  height: 164px;
}

@media only screen and (max-width: 1440px) {
  .prompt-header {
    left: 44%;
  }

  .logo-image {
    left: 44%;
  }
}

@media only screen and (max-width: 1024px) {
  .prompt-header {
    left: 41.5%;
  }

  .background-image1 {
    top: 12.5%;
    left: 35%;
  }

  .background-image2 {
    top: 30%;
    left: 52%;
    transform: rotate(180 deg);
  }

  .background-body {
    width: 376px;
    left: 31.5%;
  }

  .logo-image {
    left: 41.5%;
  }

  .coin-image1 {
    left: 35%;
  }

  .coin-image2 {
    left: 58%;
  }

  .coin-image3 {
    left: 60%;
  }

  .successful-icon {
    margin: 10% 27% 5% 27%;
  }
}

@media only screen and (max-width: 768px) {
  .prompt-header {
    left: 40%;
  }

  .background-image1 {
    left: 30%;
  }

  .background-body {
    width: 376px;
    left: 25%;
  }

  .logo-image {
    left: 38.5%;
  }

  .coin-image1 {
    left: 30%;
  }

  .coin-image2 {
    left: 60%;
  }

  .coin-image3 {
    left: 60%;
  }

  .successful-icon {
    margin: 10% 27.5% 5% 27.5%;
  }
}

@media only screen and (max-width: 426px) {
  .prompt-header {
    left: 35%;
  }

  .background-image1 {
    left: 10%;
  }

  .background-body {
    left: 5%;
  }

  .logo-image {
    left: 29.5%;
  }

  .coin-image1 {
    left: 15%;
  }

  .coin-image2 {
    left: 70%;
  }

  .coin-image3 {
    left: 70%;
  }
}

@media only screen and (max-width: 376px) {
  .prompt-header {
    left: 32%;
  }

  .background-image1 {
    left: 5%;
  }

  .background-body {
    left: 0%;
  }

  .logo-image {
    left: 33%;
  }

  .coin-image1 {
    left: 10%;
  }

  .coin-image2 {
    left: 75%;
  }

  .coin-image3 {
    left: 75%;
  }
}
