.prompt-header {
  position: absolute;
  top: 30px;
  left: calc(53% - 150px);
  font-weight: 400;
  font-size: 20px;
}

.logo-image {
  top: 50px;
  left: calc(52.75% - 150px);
  position: absolute;
  z-index: 3;
}

.background {
  background-color: #ffc0c0;
}

.background-body {
  position: absolute;
  width: 600px;
  height: 596px;
  top: 70px;
  left: calc(50% - 300px);
  background: #fff6e6;
  border-radius: 50px 50px 50px 50px;
}

.background-body-short {
  position: absolute;
  width: 600px;
  height: 496px;
  top: 350px;
  left: calc(50% - 300px);
  background: #fff6e6;
  border-radius: 50px 50px 50px 50px;
}

.logo-imags-s {
  position: absolute;
  top: 1%;
  left: 5%;
  width: 40px;
  height: 40px;
}

.prompt-content-header {
  font-weight: 400;
  font-size: 20px;
}

.prompt-content-body {
  font-weight: 200;
  font-size: 16px;
}

.payment-method-header {
  margin: 50px 24px 0px 24px;
}

.payment-information-card-content {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 15px 0px 15px 0px;
}
.payment-information-header {
  padding-left: 40px;
}

.payment-method-body {
  padding-left: 40px;
}

.payment-method-btn {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4dac8;
  padding: 20px 10px;
  margin: 0px 20px;
}

.method-icon {
  position: absolute;
}

.chevron-icon {
  right: 10%;
  position: absolute;
}

.payment-method-disabled {
  color: lightgray;
}

.icon-disabled {
  opacity: 0.5;
}

.qr-code-header {
  font-size: 18px;
  color: #11285c;
}

.qr-code-content {
  font-size: 16px;
  color: #11285c;
  margin: 10px 30px;
}

.qr-code-total {
  width: 95%;
  height: 42px;

  background: #ff7777;
  border-radius: 8px;

  text-align: center;
  font-size: 20px;
  color: #ffffff;
}

.information-total {
  width: 95%;
  height: 42px;

  background: #ffffff;
  border-radius: 8px;

  text-align: center;
  font-size: 20px;
  color: #11285c;
}

.payment-method-divider {
  border-bottom: 1px solid #e4dac8;
  padding-bottom: 10px;
}

.qr-code-image {
  width: 300px;
  height: 300px;
  margin: 40px 0px 10px 230px;
}

.successful-icon {
  margin: 10% 36.75% 5% 36.75%;
  width: 164px;
  height: 164px;
}

.modal {
  position: absolute;
  width: 327px;
  height: 172px;
  top: 40%;
  left: calc(50% - 163.5px);
  background: #ffffff;
  border-radius: 15px;

  font-family: 'Kanit', sans-serif;

  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.3),
    0 4px 6px -2px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.close-modal-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 42%;
}

.accept-modal-btn {
  position: absolute;
  width: 120px;
  height: 39px;
  left: 10%;
  bottom: 10%;
  padding-top: 7px;
  background: #4ade47;
  border-radius: 5px;
}

.cancel-modal-btn {
  position: absolute;
  width: 120px;
  height: 39px;
  left: 54%;
  bottom: 10%;
  padding-top: 7px;
  background: #ff0000;
  border-radius: 5px;
}

.save-modal-btn {
  position: absolute;
  width: 120px;
  height: 39px;
  left: 10%;
  bottom: 10%;
  padding-top: 7px;
  background: #11285c;
  border-radius: 5px;
}

.accept-modal-text {
  color: white;
  margin-left: 37px;
}

.cancel-btn {
  top: calc(80% - 39px);
  position: absolute;
  width: 250px;
  height: 39px;
  left: 53%;
  bottom: 10%;
  padding-top: 7px;
  background: #ff0000;
  border-radius: 5px;
}

.cancel-btn-xl {
  top: calc(95% - 39px);
  position: absolute;
  width: 500px;
  height: 39px;
  left: 8%;
  bottom: 10%;
  padding-top: 7px;
  background: #ff0000;
  border-radius: 5px;
}

.save-btn {
  top: calc(80% - 39px);
  position: absolute;
  width: 250px;
  height: 39px;
  left: 5%;
  bottom: 10%;
  padding-top: 7px;
  background: #11285c;
  border-radius: 5px;
}

.accept-text {
  color: white;
  margin-left: 105px;
}

.accept-text-xl {
  color: white;
  margin-left: 225px;
}

.payment-information-card {
  position: absolute;
  width: 500px;
  height: 235px;
  left: calc(50% - 250px);
  top: 100px;
  color: #11285c;
  background: #fff3f3;
  box-shadow: 0px 4px 4px #ffb2b2;
  border-radius: 15px;
}

.payment-information-content {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 20px;
}

.payment-information-content-header {
  font-size: 18px;
  margin-top: 0px;
  margin-left: 20px;
}

.modal-content {
  margin-top: 50px;
  margin-left: 47px;
}

.qr-align-center {
  padding-left: 30px;
}

.qr-suggestion-message {
  font-size: 14px;
}

.method-second-icon {
  padding-left: 50px;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .prompt-header {
    left: calc(53.5% - 150px);
  }

  .background-body {
    left: calc(50% - 300px);
  }

  .background-body-short {
    left: calc(50% - 300px);
  }

  .qr-code-image {
    margin: 40px 0px 10px 230px;
  }

  .accept-modal-text {
    color: white;
    margin-left: 37px;
  }

  .cancel-btn {
    width: 137px;
    left: calc(84% - 68.5px);
  }

  .save-btn {
    width: 137px;
    left: calc(16% - 68.5px);
  }

  .accept-text {
    margin-left: 50px;
  }

  .modal {
    left: calc(50% - 163.5px);
  }
}

@media only screen and (max-width: 1281px) {
  .prompt-header {
    left: calc(53.5% - 150px);
  }

  .background-body {
    width: 376px;
    left: calc(34% - 188px);
  }

  .background-body-short {
    width: 376px;
    left: calc(34% - 188px);
  }

  .payment-information-card {
    width: 376px;
    left: calc(34% - 188px);
  }

  .logo-image {
    left: calc(53.5% - 150px);
  }

  .successful-icon {
    margin: 10% 27% 5% 27%;
  }

  .qr-code-image {
    margin: 40px 0px 10px 115px;
  }

  .modal {
    left: calc(34% - 163.5px);
  }

  .cancel-btn {
    width: 137px;
    left: calc(77% - 68.5px);
  }

  .cancel-btn-xl {
    width: 315px;
  }

  .accept-text-xl {
    color: white;
    margin-left: 132.5px;
  }

  .save-btn {
    left: calc(26% - 68.5px);
  }
}

@media only screen and (max-width: 1025px) {
  .prompt-header {
    left: calc(60% - 188px);
  }

  .background-body {
    width: 376px;
    left: calc(50% - 188px);
  }

  .background-body-short {
    width: 376px;
    left: calc(50% - 188px);
  }

  .payment-information-card {
    width: 376px;
    left: calc(50% - 188px);
  }

  .logo-image {
    left: calc(56.5% - 150px);
  }

  .successful-icon {
    margin: 10% 27% 5% 27%;
  }

  .qr-code-image {
    margin: 40px 0px 10px 115px;
  }

  .modal {
    left: calc(52.5% - 188px);
  }

  .cancel-btn-xl {
    width: 315px;
  }

  .accept-text-xl {
    color: white;
    margin-left: 132.5px;
  }

  .save-btn {
    left: calc(26% - 68.5px);
  }
}

@media only screen and (max-width: 821px) {
  .prompt-header {
    left: calc(62% - 188px);
  }

  .background-body {
    left: calc(50% - 188px);
  }

  .background-body-short {
    left: calc(50% - 188px);
  }

  .payment-information-card {
    left: calc(50% - 188px);
  }

  .logo-image {
    left: calc(58% - 150px);
  }

  .successful-icon {
    margin: 10% 27.5% 5% 27.5%;
  }

  .modal {
    left: calc(52.5% - 188px);
  }
  .save-btn {
    left: calc(26% - 68.5px);
  }
}

@media only screen and (max-width: 768px) {
  .prompt-header {
    left: calc(63% - 188px);
  }
  .background-body {
    left: calc(50% - 188px);
  }

  .background-body-short {
    left: calc(50% - 188px);
  }

  .payment-information-card {
    left: calc(50% - 188px);
  }

  .logo-image {
    left: calc(58% - 150px);
  }

  .successful-icon {
    margin: 10% 27.5% 5% 27.5%;
  }

  .modal {
    left: calc(53% - 188px);
  }
}

@media only screen and (max-width: 541px) {
  .prompt-header {
    left: calc(70% - 188px);
  }

  .background-body {
    left: calc(50% - 188px);
  }

  .background-body-short {
    left: calc(50% - 188px);
  }

  .payment-information-card {
    left: calc(50% - 188px);
  }

  .logo-image {
    left: calc(62.5% - 150px);
  }

  .modal {
    left: calc(54.5% - 188px);
  }

  .save-btn {
    left: calc(60% - 188px);
  }
}

@media only screen and (max-width: 431px) {
  .prompt-header {
    left: calc(75.5% - 188px);
  }

  .background-body {
    left: calc(50% - 188px);
  }

  .background-body-short {
    left: calc(50% - 188px);
  }

  .payment-information-card {
    left: calc(50% - 188px);
  }

  .logo-image {
    left: calc(65.5% - 150px);
  }

  .modal {
    left: calc(55.25% - 188px);
  }

  .save-btn {
    left: calc(58% - 188px);
  }
}

@media only screen and (max-width: 426px) {
  .prompt-header {
    left: calc(76% - 188px);
  }

  .background-body {
    left: calc(50% - 188px);
  }

  .background-body-short {
    left: calc(50% - 188px);
  }

  .payment-information-card {
    left: calc(50% - 188px);
  }

  .logo-image {
    left: calc(65.5% - 150px);
  }

  .modal {
    left: calc(60% - 188px);
  }
}

@media only screen and (max-width: 391px) {
  .prompt-header {
    left: calc(76% - 188px);
  }

  .background-body {
    left: calc(50% - 188px);
  }

  .background-body-short {
    left: calc(50% - 188px);
  }

  .payment-information-card {
    left: calc(50% - 188px);
  }

  .logo-image {
    left: calc(65.5% - 150px);
  }

  .modal {
    left: calc(60% - 188px);
  }
}

@media only screen and (max-width: 376px) {
  
  .prompt-header {
    left: calc(55 - 188px);
  }

  .background-body {
    left: calc(50% - 188px);
  }

  .background-body-short {
    left: calc(50% - 188px);
  }

  .payment-information-card {
    left: calc(50% - 188px);
  }

  .logo-image {
    left: calc(65% - 150px);
  }

  .modal {
    left: calc(56.5% - 188px);
  }
}
